In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [3]:
engine=create_engine('postgresql://root:root@localhost:5432/ny_taxi_hw')

In [4]:
engine.connect()

In [5]:
df_zones=pd.read_csv('taxi+_zone_lookup.csv')

In [6]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [7]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265